@page
@model PresentationPlanner.Areas.Contacts.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contacts List";
}
<div class="row">
    <div class="col-6">
        <h2 class="text-info">My contacts</h2>
        <a asp-area="Contacts" asp-page="Create" class="btn btn-info">
            <i class="fas fa-plus"></i>&nbsp; New
        </a>
    </div>
</div>

@* <div class="row">
    <div class="col-12 offset-4">
        <div clas="btn-group" role="group">
            @{
                var minPage = Model.CurrentPage - 5 <= 1 ? 1 : Model.CurrentPage - 5;
                var maxPage = minPage + 9 >= Model.TotalPages ? Model.TotalPages : minPage + 9;
                if (minPage > 1)
                {
                    <a class="btn btn-light" title="anterior" asp-area="Contatos" asp-route-paginaAtual="@(minPage - 1)" asp-page="Index">
                        <i class="fas fa-backward"></i>

                    </a>
                }
                for (int i = minPage; i <= maxPage; i++)
                {
                    if (Model.CurrentPage == i)
                    {
                        <a class="btn btn-info active" title="pagina: @i" asp-area="Contacts" asp-route-paginaAtual="@i" asp-page="Index">@i</a>
                    }
                    else
                    {
                        <a class="btn btn-light" title="pagina: @i" asp-area="Contatos" asp-route-paginaAtual="@i" asp-page="Index">@i</a>
                    }

                }
                if (maxPage < Model.TotalPages)
                {
                    <a class="btn btn-light" title="avançar" asp-area="Contatos" asp-route-paginaAtual="@(maxPage + 1)" asp-page="Index">
                        <i class="fas fa-forward"></i>
                    </a>
                }
            }

        </div>
    </div>
</div> *@
<div class="row row-cols-md-3 g-4">
    @if (!Model.Contacts.Any())
    {
        <div>
            <h3 class="text-warning">No contacts.</h3>
        </div>
    }
    else
    {
        foreach (var contact in Model.Contacts)
        {
            <div class="col">
                <div class="card">
                    <img src="@contact.PhotoUrl" class="card-img-top" alt="@contact.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@contact.Name </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label class="label-weight-bold">Email: @contact.Email</label>
                                <a onclick="" class="btn btn-success btn-sm"><i class="fas fa-envelope"></i></a>
                            </li>
                            <li class="list-group-item">
                                <label class="label-weight-bold">Phone: @contact.Phone</label>
                                <a onclick="" class="btn btn-light"><i class="fas fa-phone-alt"></i></a>
                            </li>
                            <li class="list-group-item">
                                <label class="label-weight-bold">Birth: @contact.Birth.ToString("dd/MM/yyyy")</label>
                            </li>
                        </ul>
                        <div class="btn-group" role="group">
                           @*  <form method="post" enctype="multipart/form-data">
                                @if (!contact.Favorite)
                                {
                                    <button type="submit" class="btn btn-success" title="Add to favorites"
                                            asp-page-handler="Favorite"
                                            asp-route-id="@contact.Id">
                                        <i class="far fa-heart"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-success" title="Remove from favorites"
                                            asp-page-handler="Favorite"
                                            asp-route-id="@contact.Id">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                }
                            </form> *@
                            <a class="btn btn-warning" title="Edit" asp-area="Contacts" asp-page="Create" asp-route-id="@contact.Id"><i class="far fa-edit"></i></a>
                            
                            <button type="button" class="btn btn-danger" title="Delete" onclick="deleteContact('@contact.Id')"><i class="far fa-trash-alt"></i></button>
                            <button type="button" class="btn btn-primary" title="Details"><i class="fas fa-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>
@section Scripts {
    <partial name="_Modal" />
    <script src="~/js/contact.js"></script>
}